#sun{
animation-name: rotate;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 7000ms;
}
#sea{
/* animation-name: wave;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 5000ms; */
}
.br{
    border: 4px solid blue;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes wave{
    from{
        top:0px
    }
    to{
        top:50px;
    }
}