#sun{
animation-name: rotate;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 7000ms;
}
/* Hero.css */

@keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .wave-animation {
    background-attachment: scroll;
    background-repeat: no-repeat;
    animation: wave 2s infinite; /* Adjust the duration and other properties as needed */
  }
  


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
